.bg1 { width: 640px; height: 1131px; background: url(//i0.cy.com/ldjsy/mobile/2019/0104/bg1.jpg) no-repeat top center; position: relative; overflow: hidden; z-index: 1; }
.bg2 { width: 640px; height: 1013px; background: url(../img/bg2.png) no-repeat top center; position: relative; overflow: hidden; z-index: 1; }
.bg3 { width: 640px; height: 1134px; background: url(../img/bg3.png) no-repeat top center; position: relative; overflow: hidden; z-index: 1; margin-top: -50px; }
.bg4 { width: 640px; height: 880px; background: url(../img/bg4.png) no-repeat top center; position: relative; overflow: hidden; z-index: 1; margin-top: -40px;}


/*bg1*/
.banner-t { width: 564px; height: 289px; background: url(../img/banner_t.png) no-repeat; position: absolute; left: 0; right: 0; top: 43px; bottom: 0; margin: auto; margin-top: 610px; }
.banner-time { width: 240px; height: 41px;	/*background: url(//i0.cy.com/ldjsy/mobile/2019/0104/time.png) no-repeat;*/ font-size: 36px; color: #fff; text-shadow: #ac3d0d 2px 0px 2px; text-align: center; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; margin-top: 900px; }
.ljxz-btn { width: 457px; height: 119px; background: url(../img/ljxz_btn.png); position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; margin-top: 950px; }

.bg7-device { width: 640px; height: 1000px;	/*position: absolute;*/	/*left: -150px;*/
margin-top: 150px; overflow: hidden; }
.swiper-container7 { width: 876px; height: 1000px;	/*margin-left: 30px;*/ }
.swiper-container7 .swiper-slide { position: relative; z-index: 1;	/*background: url(//i0.cy.com/ldjsy/mobile/2019/0104/bg7-sw-back.png) no-repeat;*/ opacity: 0.4; -webkit-transition: 300ms; -moz-transition: 300ms; -ms-transition: 300ms; -o-transition: 300ms; transition: 300ms; -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.swiper-container7 .swiper-slide-visible { opacity: 0.5; z-index: 1; -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); left: -150px; }
.swiper-container7 .swiper-slide-active { top: 0; left: -170px; opacity: 1; z-index: 9; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); }
.pagination8 { position: absolute; z-index: 20; left: 0px; width: 100%; text-align: center; bottom: 5px; }


.bg7-device .arrow-left { background-position: -527px -67px;	/*background-position: -786px -525px;*/ position: absolute; left: 60px; top: 50%; margin-top: -15px; width: 30px; height: 61px; z-index: 999; }
.bg7-device .arrow-right { background-position: -569px -67px;	/*background-position: -825px -525px;*/ position: absolute; right: 60px; top: 50%; margin-top: -15px; width: 30px; height: 61px; z-index: 999; }
.pagination8 { position: absolute;	/*left: 370px;
		top: 470px;*/ left: 0; right: 0; top: 0; bottom: 0; margin: auto; margin-top: 970px; text-align: center; bottom: 5px; width: 396px; height: 33px; z-index: 999; }
	.pagination8 .swiper-pagination-switch { display: inline-block; width: 38px; height: 33px; margin: 0 10px; cursor: pointer; }
	.pagination8 .swiper-pagination-switch:nth-child(1) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -681px -79px; }
	.pagination8 .swiper-pagination-switch:nth-child(2) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -770px -79px; }
	.pagination8 .swiper-pagination-switch:nth-child(3) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -862px -79px; }
	.pagination8 .swiper-pagination-switch:nth-child(4) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -954px -79px; }
	.pagination8 .swiper-pagination-switch:nth-child(5) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -1045px -79px; }
	.pagination8 .swiper-pagination-switch:nth-child(1).swiper-active-switch { background-position: -681px -121px; }
	.pagination8 .swiper-pagination-switch:nth-child(2).swiper-active-switch { background-position: -770px -121px; }
	.pagination8 .swiper-pagination-switch:nth-child(3).swiper-active-switch { background-position: -862px -121px; }
	.pagination8 .swiper-pagination-switch:nth-child(4).swiper-active-switch { background-position: -954px -121px; }
	.pagination8 .swiper-pagination-switch:nth-child(5).swiper-active-switch { background-position: -1045px -121px; }

	/*bg3*/
	.sw-selBox { width: 640px; height: 46px; position: absolute; top: 130px; left: 0px; z-index: 9; }
	.sw-sel { width: 91px; height: 46px; background-position: -909px 0px !important; font-size: 18px; color: #924811; text-align: center; line-height: 46px; float: left; cursor: pointer; margin-left: 10px; }
	.sw-sel.on { background-position: -1014px 0px !important; }
	.device { width: 640px; height: 1000px; position: absolute; top: 100px;	/*background: red;*/ z-index: 8; overflow: hidden; visibility: hidden; }
	.device.on { visibility: visible; }
	.device .arrow-left {	/*background-position: -527px -67px;*/
	background-position: -786px -525px; position: absolute; left: 10px; top: 50%; margin-top: -15px; width: 27px; height: 50px; z-index: 999; }
	.device .arrow-right {	/*background-position: -569px -67px;*/
	background-position: -825px -525px; position: absolute; right: 10px; top: 50%; margin-top: -15px; width: 27px; height: 50px; z-index: 999; }
	.swiper-container1 { width: 640px; height: 1032px; }
	.device img { display: block; margin-left: 45px; }
	.pagination2, .pagination3, .pagination4, .pagination5, .pagination6, .pagination7 { position: absolute; left: 20px; top: 885px; text-align: center; bottom: 5px; width: 600px; height: 110px; z-index: 999; }

	/*swiper-pagination-bullet swiper-pagination-bullet-active*/
	.pagination2 .swiper-pagination-bullet { display: inline-block; width: 115px; height: 110px;	/*margin: 0 16px;*/ margin: 0px 16px 0px 16px; cursor: pointer; }
	.pagination3 .swiper-pagination-switch { display: inline-block; width: 92px; height: 135px; margin: 0 13px; cursor: pointer; }
	.pagination4 .swiper-pagination-switch { display: inline-block; width: 92px; height: 135px; margin: 0 13px; cursor: pointer; }
	.pagination5 .swiper-pagination-switch { display: inline-block; width: 92px; height: 135px; margin: 0 13px; cursor: pointer; }
	.pagination6 .swiper-pagination-switch { display: inline-block; width: 92px; height: 135px; margin: 0 13px; cursor: pointer; }
	.pagination7 .swiper-pagination-switch { display: inline-block; width: 92px; height: 135px; margin: 0 13px; cursor: pointer; }
	.pagination2 .swiper-pagination-bullet:nth-child(1) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/icon_spr.png) no-repeat;	/*background-size:200%;*/ background-position: 10px -2px; }
	.pagination2 .swiper-pagination-bullet:nth-child(2) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/icon_spr.png) no-repeat; background-position: -196px -2px; }
	.pagination2 .swiper-pagination-bullet:nth-child(3) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/icon_spr.png) no-repeat; background-position: -395px -2px; }
	.pagination2 .swiper-pagination-bullet:nth-child(4) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/icon_spr.png) no-repeat; background-position: -597px -2px; }
	.pagination2 .swiper-pagination-bullet:nth-child(5) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/icon_spr.png) no-repeat; background-position: -785px -2px; position: absolute; left: 0px; top: 110px; }
	.pagination2 .swiper-pagination-bullet:nth-child(6) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/icon_spr.png) no-repeat; background-position: -994px -2px; position: absolute; left: 147px; top: 110px; }
	.pagination2 .swiper-pagination-bullet:nth-child(7) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/icon_spr.png) no-repeat; background-position: -1200px -2px; position: absolute; left: 300px; top: 110px; }
	.pagination2 .swiper-pagination-bullet:nth-child(8) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/icon_spr.png) no-repeat; background-position: -1405px -2px; position: absolute; left: 450px; top: 110px; }
	.pagination2 .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active { background-position: 10px -162px; }
	.pagination2 .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active { background-position: -196px -162px; }
	.pagination2 .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active { background-position: -395px -162px; }
	.pagination2 .swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active { background-position: -597px -162px; }
	.pagination2 .swiper-pagination-bullet:nth-child(5).swiper-pagination-bullet-active { background-position: -785px -162px; }
	.pagination2 .swiper-pagination-bullet:nth-child(6).swiper-pagination-bullet-active { background-position: -994px -162px; }
	.pagination2 .swiper-pagination-bullet:nth-child(7).swiper-pagination-bullet-active { background-position: -1200px -162px; }
	.pagination2 .swiper-pagination-bullet:nth-child(8).swiper-pagination-bullet-active { background-position: -1405px -162px; }
	.pagination3 .swiper-pagination-switch:nth-child(1) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: 0px -297px; }
	.pagination3 .swiper-pagination-switch:nth-child(2) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -138px -297px; }
	.pagination3 .swiper-pagination-switch:nth-child(3) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -275px -297px; }
	.pagination3 .swiper-pagination-switch:nth-child(4) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -412px -297px; }
	.pagination3 .swiper-pagination-switch:nth-child(5) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -412px -297px; }
	.pagination3 .swiper-pagination-switch:nth-child(1).swiper-active-switch { background-position: 0px -447px; }
	.pagination3 .swiper-pagination-switch:nth-child(2).swiper-active-switch { background-position: -138px -447px; }
	.pagination3 .swiper-pagination-switch:nth-child(3).swiper-active-switch { background-position: -275px -447px; }
	.pagination3 .swiper-pagination-switch:nth-child(4).swiper-active-switch { background-position: -412px -447px; }
	.pagination3 .swiper-pagination-switch:nth-child(5).swiper-active-switch { background-position: -729px -447px; }
	.pagination4 .swiper-pagination-switch:nth-child(1) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: 0px -602px; }
	.pagination4 .swiper-pagination-switch:nth-child(2) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -128px -602px; }
	.pagination4 .swiper-pagination-switch:nth-child(3) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -258px -602px; }
	.pagination4 .swiper-pagination-switch:nth-child(4) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -386px -602px; }
	.pagination4 .swiper-pagination-switch:nth-child(5) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -514px -602px; }
	.pagination4 .swiper-pagination-switch:nth-child(1).swiper-active-switch { background-position: -0px -742px; }
	.pagination4 .swiper-pagination-switch:nth-child(2).swiper-active-switch { background-position: -128px -742px; }
	.pagination4 .swiper-pagination-switch:nth-child(3).swiper-active-switch { background-position: -258px -742px; }
	.pagination4 .swiper-pagination-switch:nth-child(4).swiper-active-switch { background-position: -386px -742px; }
	.pagination4 .swiper-pagination-switch:nth-child(5).swiper-active-switch { background-position: -514px -742px; }
	.pagination5 .swiper-pagination-switch:nth-child(1) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: 0px -897px; }
	.pagination5 .swiper-pagination-switch:nth-child(2) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -128px -897px; }
	.pagination5 .swiper-pagination-switch:nth-child(3) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -258px -897px; }
	.pagination5 .swiper-pagination-switch:nth-child(4) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -386px -897px; }
	.pagination5 .swiper-pagination-switch:nth-child(5) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -514px -897px; }
	.pagination5 .swiper-pagination-switch:nth-child(1).swiper-active-switch { background-position: -0px -1047px; }
	.pagination5 .swiper-pagination-switch:nth-child(2).swiper-active-switch { background-position: -128px -1047px; }
	.pagination5 .swiper-pagination-switch:nth-child(3).swiper-active-switch { background-position: -258px -1047px; }
	.pagination5 .swiper-pagination-switch:nth-child(4).swiper-active-switch { background-position: -386px -1047px; }
	.pagination5 .swiper-pagination-switch:nth-child(5).swiper-active-switch { background-position: -514px -1047px; }
	.pagination6 .swiper-pagination-switch:nth-child(1) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: 0px -1204px; }
	.pagination6 .swiper-pagination-switch:nth-child(2) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -194px -1204px; }
	.pagination6 .swiper-pagination-switch:nth-child(3) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -393px -1204px; }
	.pagination6 .swiper-pagination-switch:nth-child(4) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -339px -1204px; }
	.pagination6 .swiper-pagination-switch:nth-child(5) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -450px -1204px; }
	.pagination6 .swiper-pagination-switch:nth-child(1).swiper-active-switch { background-position: -0px -1345px; }
	.pagination6 .swiper-pagination-switch:nth-child(2).swiper-active-switch { background-position: -194px -1345px; }
	.pagination6 .swiper-pagination-switch:nth-child(3).swiper-active-switch { background-position: -393px -1345px; }
	.pagination6 .swiper-pagination-switch:nth-child(4).swiper-active-switch { background-position: -339px -1345px; }
	.pagination6 .swiper-pagination-switch:nth-child(5).swiper-active-switch { background-position: -450px -1345px; }
	.pagination7 .swiper-pagination-switch:nth-child(1) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -0px -1492px; }
	.pagination7 .swiper-pagination-switch:nth-child(2) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -194px -1492px; }
	.pagination7 .swiper-pagination-switch:nth-child(3) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -393px -1492px; }
	.pagination7 .swiper-pagination-switch:nth-child(4) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -680px -1492px; }
	.pagination7 .swiper-pagination-switch:nth-child(5) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw-spr1.png) no-repeat; background-position: -729px -1492px; }
	.pagination7 .swiper-pagination-switch:nth-child(1).swiper-active-switch { background-position: -0px -1639px; }
	.pagination7 .swiper-pagination-switch:nth-child(2).swiper-active-switch { background-position: -194px -1639px; }
	.pagination7 .swiper-pagination-switch:nth-child(3).swiper-active-switch { background-position: -393px -1639px; }
	.pagination7 .swiper-pagination-switch:nth-child(4).swiper-active-switch { background-position: -680px -1639px; }
	.pagination7 .swiper-pagination-switch:nth-child(5).swiper-active-switch { background-position: -729px -1639px; }

	/*bg4*/
	.new_box{width: 588px;height: 694px;margin: 0 auto;padding-top: 150px;}
	.new_box li{width: 588px;height: 150px;margin-bottom: 30px;position: relative;}
	.new_box .rp_desc{width: 390px;height: 90px;position: absolute;color: #fff;font-size: 17px;text-indent: 1px;left: 167px;top: 17px;line-height: 30px;font-weight: 500;}
	.new_box .rp_desc2{width: 390px;height: 22px;color: #fff;position: absolute;left: 167px;bottom: 17px;font-size: 16px;}
	.date{float: left;}
	.revert{float: right;display: block;width: 150px;height: 22px;position: relative;}
	.icon_zan{width: 29px;height: 22px;background: url(../img/icon_zan.png) no-repeat;display: inline-block;}
	.zan_num{display: inline-block;position: absolute;top: 1px;}
	.huifu{display: inline-block;position: absolute;top: 1px;left: 85px;}
	.rp1{width: 588px;height: 150px;background: url(../img/rp1.png) no-repeat;}
	.rp2{width: 588px;height: 180px;background: url(../img/rp2.png) no-repeat;}
	.rp3{width: 588px;height: 180px;background: url(../img/rp3.png) no-repeat;}
	.rp4{width: 588px;height: 180px;background: url(../img/rp4.png) no-repeat;}

	.bottom{position: relative;width: 640px;height: 90px;margin: 10px auto;text-align: center;color: #000;font-size: 25px;font-weight: 500;line-height: 35px;top:-40px;z-index: 100;}
	

	/*0105add*/
	.swiper { position: relative; margin: 20px auto 10px; width: 100%; height: 1136px; }
	.swiper .swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper { -ms-perspective: 1820px; }
	.swiper .swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; }
	.swiper .swiper-container-android .swiper-slide, .swiper-wrapper { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate(0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	.swiper .swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; }
	.swiper .swiper-button-next, .swiper-button-prev { position: absolute; top: 30%; width: 37px; height: 76px; margin-top: -5px; z-index: 10; cursor: pointer; }
	.swiper .swiper-button-prev { left: 20px; }
	.swiper .swiper-button-next { right: 20px; }
	.swiper .swiper-container { width: 640px; height: 1136px; margin: 155px auto; -webkit-perspective: 1820px; -moz-perspective: 1820px; -o-perspective: 1820px; perspective: 1820px; position: relative; overflow: hidden; z-index: 1; }
	.swiper .swiper-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
	.swiper .swiper-slide { width: 358px; height: 747px; border-radius: 0rem; overflow: hidden; -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; position: relative; }
	.swiper .swiper-slide-active { border-color: #f2a83b; }
	.swiper img { display: block; width: 100%; }
	.swiper .swiper-pagination { width: 640px; height: 800px; position: absolute; left: 60px; right: 0; top: 100px; margin: auto; text-align: center; -webkit-transition: .3s; -moz-transition: .3s; -o-transition: .3s; transition: .3s; -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 10; margin-top: 600px; background: url(//i0.cy.com/ldjsy/mobile/2019/0104/sw_d.png) no-repeat; background-position: 66px 84px; }
	.swiper .swiper-pagination .swiper-pagination-bullet { width: 38px; height: 38px; display: inline-block; margin: 0 20px;	/*border-radius: 100%;
		    background: #000;
		    opacity: .2;*/ }
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(1) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -677px -79px;position: absolute;left: 0px;top: 66px; }
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(2) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -770px -79px;position: absolute;left: 85px;top: 66px; }
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(3) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -862px -79px; position: absolute;left: 179px;top: 66px;}
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(4) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -954px -79px; position: absolute;left: 271px;top: 66px;}
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(5) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -1045px -79px; position: absolute;left: 362px;top: 66px;}
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(6) { background: url(//i0.cy.com/ldjsy/mobile/2019/0104/spr.png) no-repeat; background-position: -1136px -79px; position: absolute;left: 448px;top: 66px;}
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active { background-position: -677px -127px; }
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active { background-position: -770px -127px; }
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active { background-position: -862px -127px; }
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active { background-position: -954px -127px; }
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(5).swiper-pagination-bullet-active { background-position: -1045px -127px; }
	.swiper .swiper-pagination .swiper-pagination-bullet:nth-child(6).swiper-pagination-bullet-active { background-position: -1136px -127px; }

		.swiper2 { margin: 1rem auto 0rem; }
		.swiper-container-android .swiper-slide, .swiper-wrapper { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate(0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
		.swiper-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -o-transition-property: -o-transform; -ms-transition-property: -ms-transform; transition-property: transform; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
		.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active { pointer-events: auto; }
		.swiper-container-fade .swiper-slide { pointer-events: none; -webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; }
		.swiper-container-android .swiper-slide, .swiper-wrapper { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -o-transform: translate(0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
		.swiper-slide { -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; width: 100%; height: 100%; position: relative; }
		.swiper2 .swiper-slide img { display: block; width: 612px; height: 753px;	/*margin: 0px auto 0px;*/ margin-left: 45px; margin-top: 125px; }
		.swiper3 { margin: 1.6rem auto 0rem; }
		.swiper-container1 { width: 640px; height: 254px; }
		#cy_bot { padding: 0rem !important; }
/*音乐*/
#music{pointer-events:none; visibility: hidden;}
.music{position:absolute; z-index:10; right:20px;top:134px; width:58px; height:58px; background:url(http://i0.cy.com/ldjsy/main/2019/0104/music.png) no-repeat;animation:scroll 2s linear 0s infinite normal;-webkit-animation:scroll 2s linear 0s infinite normal; }
.music.pause{ background-position:0px -70px;-webkit-animation:none; animation:none;}
@keyframes scroll
{
100% {transform:rotate(360deg);}
}
@-webkit-keyframes scroll
{
100% {-webkit-transform:rotate(360deg);}
}
/*防止点击黑色阴影*/
.bg3 div, .bg3 span {
    /*关键代码*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#J_swiper1{position: relative; width: 100%; height: 254px; }
.swiper3{position: relative; height: 280px;width: 100%;}
.swiper-pagination3{ width: 100%; position: absolute; bottom: 0px; left: 0; text-align: center; line-height: 10px;}
.swiper3 .swiper-pagination-bullet {
display: inline-block;
width: 10px;
height: 10px;
opacity:1;
border-radius: 10px;
margin: 0 3px;
cursor: pointer;
background: #000;
opacity: .3;
transition: width 0.3s ease-in-out;

}
.swiper3 .swiper-pagination-bullet-active{
	background: #007aff;
	width:12px;
	opacity: 1;
}