/* reset */
*{margin:0;padding:0;}
html{color:#000;overflow-x:auto!important;overflow-x:hidden;overflow-y:auto;-webkit-text-size-adjust:none;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}legend{color:#000;}
del,ins{text-decoration:none}
p{ margin:0; padding:0}
img {-ms-interpolation-mode: bicubic;}
a{ text-decoration:none; outline:none;}
img{display: block;width: 100%;vertical-align:top;}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.hidden{ display: none !important;}
body{background: #fff; font-size: 24px;line-height: 34px;font-family: "Microsoft YaHei","微软雅黑";color: #1a1a1a;-webkit-tap-highlight-color:rgba(255,255,255,0);}
.clearfix:after{content:"\0020";height:0;display:block;clear:both;}
.clearfix{zoom:1;}
.hide{font-size:0;height:0;line-height:0;visibility:hidden;display:none;}
.t{display: block;text-indent: -9999em;}
.fl{float: left;}
.fix{position: fixed;left: 50%;margin-left: -375px;z-index: 100;}
.fr{float: right;}
.in{display: inline-block;line-height: 0;font-size: 0;}

.btn1{display: block; width: 640px;height: 119px;background-image: url(../img/top.jpg);background-size: 100% 100%;margin: 0 auto;}
.con1{display: block; position: relative; width: 640px;height: 875px; margin: 0 auto; background: url(../img/content.jpg) no-repeat;}
.con2{display: block; position: relative; width: 640px;height: 845px; overflow-y: hidden; margin: 0 auto; background: url(../img/con2.jpg) no-repeat;}
.con3{display: block; position: relative; width: 640px;height: 609px; overflow-y: hidden; margin: 0 auto; background: url(../img/con3.jpg) no-repeat;}
.con4{display: block; position: relative; width: 640px;height: 812px; margin: 0 auto; background: url(../img/con4.jpg) no-repeat;}
.con5{display: block; position: relative; width: 640px;height: 190px; margin: 0 auto; background: url(../img/con5.jpg) no-repeat;}
.commbot{width: 640px; padding: 10px 0;margin: 0 auto; line-height: 40px;  text-align: center;}
.feature{position:relative;z-index:2;overflow:hidden;height:609px; width: 640px;}
.feature .box{width: 546px;height: 308px;position: absolute;top: 182px;left: 46px; overflow: hidden;}
.feature ul{width:10000%;height:100%}
.feature ul li{position:relative;float:left;width:546px;height:100%; overflow:hidden;}
.feature ul li a{position:relative;display: block;width:100%;height:308px;margin-bottom: 25px;}
.feature ul li a img{display: block;width:100%;height:100%;}
.feature ul li .tit{width: 497px;height: 21px;line-height: 21px;margin: 0 auto;font-size: 20px;color: #000;text-align: center;background: url(http://i1.cy.com/djdsz_mobile/index/20171229/v-name.png) no-repeat;}
.feature .prev,.feature .next{display: block;text-indent: -99999em;width: 20px;height: 40px;position: absolute;top:220px;background: url(../img/cyc_sp.png) no-repeat;}
.feature .prev{left: 40px;background-position: 0 0;}
.feature .next{right: 40px;background-position: -21px 0;}
.events_nav {position:absolute; left:0; bottom:35px; text-align: center; width: 100%; }
.events_nav span{margin-left:12px;width:39px;height:18px; background: #39bdf5; border-radius: 9px; display: inline-block;}
.events_nav span.in{background: #6b767b;}
.link{position: absolute; bottom: 10px; left: 0px;   height: 120px; width: 640px;}
.link2{bottom: 90px;}
.sw-box{width: 640px;height: 845px;}