.blog{
    position: relative;
    min-width: 1200px;
    overflow: auto;
}
.hidden{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mids{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.body{
    position: relative;
    width: 1920px;
    height: 2690px;
    left: -360px;
    background:url("../img/blog.jpg") no-repeat center top;
    background-size: 1920px 2800px; 
    overflow: hidden;
}
.footer{
    position: absolute;
    width: 100%;
    top: 2179px
}
.fenye{
    position: absolute;
    top: 2065px;
    left: 425px;
    padding: 12px;
    background-color: #e6e6e6;
    border-radius: 5px;
}
.page{
    margin-left: 20px;
    margin-right: 20px
}
.blogs{
    position: absolute;
    width: 1400px;
    height: 1940px;
    left: 260px;
    top: 85px;
}
.time{
    position: relative;
    left: 41px;
}
.content{
    width: 1020px;
    height: 209px;
    margin-left: 40px;
    background-color: #f9f9f9;
    border-radius: 5px;
    overflow: hidden;
}