.div_1{
    width:120%;
    height:200px;
    background: rgb(242,242,242);
    transform: rotate(-5deg);
    position: relative;
    top: 589px;
}
.bowen{
    position:relative;
    width:100%;
    background-color:rgb(242,242,242);
    height: 568px;
    top:473px;  
    display:flex;
    flex-direction:column;
    align-items: center
}
.Idiv_3{
    width:120%;
    height:200px;
    background: rgb(255,255,255);
    transform: rotate(-5deg);
    position: relative;
    top: 360px;
}
@media screen and (max-width:1400px){
    .div_1{
        width: 120%;
        height: 227px;
        background: rgb(242,242,242);
        transform: rotate(-5deg);
        position: relative;
        top: 455px;    
    }
    .bowen{
        position: relative;
        width: 100%;
        background-color: rgb(242,242,242);
        height: 568px;
        top: 387px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Idiv_3{
        width:120%;
        height:200px;
        background: rgb(255,255,255);
        transform: rotate(-5deg);
        position: relative;
        top: 320px;
    }
    
}
